* {
    box-sizing: border-box;
    margin: 0;
    padding:0
}

footer{
    border-top: 1px solid #b8b8b9;
    /*PONER MEDIAQUERIE PARA EL GRIS CLARO*/
    padding: 30px;
    position:absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

small{
    color: #b8b8b9;
    margin-bottom: 20px;
    
}

.footer-bar{
    color: #54585a;
    margin-top: 10px;
    margin-bottom: 10px;
}

.footer-list{
    list-style: none;
    
}

.footer-logo{
    width: 115px;
    height: 45px;
    margin-top: 30px;
}