<!--
  Ejecutar en el smbolo del sistema: 
  wsl --set-version Ubuntu-18.04 1
-->

<footer>
  <div class="left">
    <small>
      <p>Pushear team &copy; 2023</p>
    </small>
    <img src="./assets/images/logo-adalab.png" alt="adalab" class="footer-logo" />
  </div>
  <nav class="footer-bar">
    <ul class="footer-list">
      <li><a href="#team">EQUIPO</a></li>
      <li><a href="#quienes-somos">QUIENES SOMOS</a></li>
      <li><a class="contact-link" href="../contact.html">CONTACTO</a></li>
    </ul>
  </nav>
</footer>