<section class="container-intro">
        <h2 class="presentation"><a name="quienes-somos" id="quienes-somos"></a>QUIÉNES SOMOS</h2>
        <section class="box-self">
          <figure class="pic"><img scr="./assets/images/nataliaBlanco.jpg" alt="Natalias picture"></figure>
          <h3 class="name">NATALIA BLANCO</h3>
          <p class="text-self">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ante ex, rutrum ac magna vitae, sollicitudin blandit tellus. Proin consequat tempus orci, sed porttitor dolor. Fusce ullamcorper condimentum mauris, ac euismod urna maximus a. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Nam in quam sed est rutrum gravida vitae in magna. Nunc sit amet convallis risus. Maecenas semper, quam non pulvinar maximus, magna mauris fermentum velit, et interdum erat turpis ut nisi.</p>
          <ul>
            <li class="listed-icons">
              <a>
                  <i class="fa-brands fa-linkedin fa-2x fa"></i>
                  <i class="fa-solid fa-envelope fa-2x fa"></i>
              </a>
          </li>
          </ul>
        </section>
        <section class="box-self">
          <figure class="pic"><img scr="./assets/images/vanesa.jpg" alt="Vanesas picture"></figure>
          <h3 class="name">VANESA GONZALEZ</h3>
          <p class="text-self">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ante ex, rutrum ac magna vitae, sollicitudin blandit tellus. Proin consequat tempus orci, sed porttitor dolor. Fusce ullamcorper condimentum mauris, ac euismod urna maximus a. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Nam in quam sed est rutrum gravida vitae in magna. Nunc sit amet convallis risus. Maecenas semper, quam non pulvinar maximus, magna mauris fermentum velit, et interdum erat turpis ut nisi.</p>
          <ul>
            <li class="listed-icons">
              <a>
                  <i href="https://www.linkedin.com/in/vanesa-gonz%C3%A1lez-rodr%C3%ADguez-07518246/" class="fa-brands fa-linkedin fa-2x fa"></i>
                  <i class="fa-solid fa-envelope fa-2x fa"></i>
              </a>
            </li>
          </ul>
        </section>
        <section class="box-self">
          <figure class="pic"><img scr="./assets/images/Foto Alexandra_BW.jpeg" alt="Alexandras picture"></figure>
          <h3 class="name">ALEXANDRA CAMPOS</h3>
          <p class="text-self">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ante ex, rutrum ac magna vitae, sollicitudin blandit tellus. Proin consequat tempus orci, sed porttitor dolor. Fusce ullamcorper condimentum mauris, ac euismod urna maximus a. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Nam in quam sed est rutrum gravida vitae in magna. Nunc sit amet convallis risus. Maecenas semper, quam non pulvinar maximus, magna mauris fermentum velit, et interdum erat turpis ut nisi.</p>
          <ul>
            <li class="listed-icons">
              <a>
                  <i href="https://www.linkedin.com/in/alexandracampomatilla/" class="fa-brands fa-linkedin fa-2x fa"></i>
                  <i class="fa-solid fa-envelope fa-2x fa"></i>
              </a>
            </li>
          </ul>
        </section>
        <section  class="box-self"> 
          <figure class="pic"><img scr="./assets/images/laptop-820274_1920.jpg" alt="Veronicas picture"></figure>
          <h3 class="name">VERONICA SALANDI</h3>
          <p class="text-self">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ante ex, rutrum ac magna vitae, sollicitudin blandit tellus. Proin consequat tempus orci, sed porttitor dolor. Fusce ullamcorper condimentum mauris, ac euismod urna maximus a. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Nam in quam sed est rutrum gravida vitae in magna. Nunc sit amet convallis risus. Maecenas semper, quam non pulvinar maximus, magna mauris fermentum velit, et interdum erat turpis ut nisi.</p>
          <ul>
            <li class="listed-icons">
              <a>
                  <i href="https://www.linkedin.com/in/veronica-salandy-064a85159/" class="fa-brands fa-linkedin fa-lg fa"></i>
                  <i class="fa-solid fa-envelope fa-lg fa"></i>
              </a>
            </li>
          </ul>
        </section>
      </section>
    </section>