<div class="container-hero">
      <img src="./images/laptop-820274_1920.jpg" alt="código programación en pantalla" class="imagen-hero">
      <span class="texto-hero">
        «Lo importante es no tener arrugas en el cerebro» <br> Margarita Salas.
      </span>
    </div>

    <section>
      <div class="box-equipo">
        <h2 class="box-equipo-titulo">EQUIPO</h2>
        <div class="box-equipo-texto">
          <p>Las "Pushear Team" siempre hacen frente a las adversidades. No se rinden jamás, se enfrentan a todos los
            retos posibles y tampoco se asustan ante GIT. Son capaces de aprender en poco tiempo cualquier herramienta
            que se les ponga por delante y son capaces de memorizar comandos de la terminal con una destreza poco común.
          </p>
          <br>
          <p>Este grupo de mujeres cada una con su propio background, tiene un objetivo común: encontrar su lugar en el
            mundo tecnológico y seguir aprendiendo cada día.
          </p>
        </div>

    </section>
    <section class="box-fortalezas-debilidades">
      <div>Fortalezas</div>
      <div>Debilidades</div>
    </section>