<div class="container-hero">
  <img src="./assets/images/laptop-820274_1920.jpg" alt="mano sobre teclado" class="imagen-hero">
  <span class="texto-hero">
    «Lo importante es no tener arrugas en el cerebro» <br> Margarita Salas.
  </span>
</div>

<section>
  <div class="box-equipo">
    <a name="team" id="team>">
      <h2 class="box-equipo-titulo">EQUIPO</h2>
    </a>
    <div class="box-equipo-texto">
      <p>Las "Pushear Team" siempre hacen frente a las adversidades. No se rinden jamás, se enfrentan a todos los
        retos posibles y tampoco se asustan ante GIT. Son capaces de aprender en poco tiempo cualquier herramienta
        que se les ponga por delante y son capaces de memorizar comandos de la terminal con una destreza poco común.
      </p>
      <br>
      <p>Este grupo de mujeres cada una con su propio background, tiene un objetivo común: encontrar su lugar en el
        mundo tecnológico y seguir aprendiendo cada día.
      </p>
    </div>

</section>
<section class="box-fort-debil">
  <div class="box2">
    <h2 class="titulo-1">Fortalezas</h2>
    <p class="subtitulo1">Como atributos positivos que nos ayudan a conseguir nuestros objetivos resaltamos:
      Resiliencia,
      compañerismo,
      tenacidad,
      inteligencia emocional y sentido del humor.</p>
  </div>

  <div class="box2">
    <h2 class="titulo-1">Debilidades</h2>
    <p class="subtitulo1">En cuanto a nuestras debilidades podríamos destacar la falta de conocimientos previos en el
      ámbito de la
      programación y del sector tecnológico. Pero es algo a lo que le estamos poniendo remedio inmediato con Adalab.</p>
  </div>
</section>