footer {
    width: 100%;
    border-top: 1px solid #b8b8b9;
    padding:40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

small {
    color: #b8b8b9;
    text-align: center;
    font-size: 16px;
    margin-top:30px;
    margin-bottom: 20px;
    order: 1;
}

.footer-bar {
    color: #54585a;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    order: 2;
}

.footer-list {
    list-style: none;
    font-size: 16px;    
}

.footer-logo {
    width: 115.9px;
    height: 45px;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 45px;
    order: 3;
}

.left{
    margin-top: 50px;
}


@media all and (min-width: 768px){

    footer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }

    small {
        text-align:left;
        font-size: 16px;
        margin-top:30px;
        margin-bottom: 15px;
        order: 1;
    }

    .footer-logo {
        margin-top: 30px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin-bottom: 60px;
        order: 2;
    }

    .footer-bar {
        margin-top: 25px;   
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        order: 3;
    }

    .footer-list{
        text-align: right;
    }

    li{
        padding-top:5px;
        padding-bottom: 5px;
    }

}