.container-hero {
  position: relative;
}

.imagen-hero {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.texto-hero {
  background-color: white;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.39;
  letter-spacing: normal;
  color: black;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  width: 290px;
  height: 80px;
  padding: 10px;
  text-align: center;
}


.box-equipo {
  padding: 30px 15px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}


.box-equipo-titulo {
  color: #14d9c4;
  display: flex;
  /* width: 89px; */
  height: 45px;
  margin: 0 99.5px 15px 101.5px;
  font-family: 'Rubik';
  font-size: 24px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: center;
}

.box-equipo-texto {
 /*  width: 290px; */
  height: 384px;
  margin: 15px 0 0;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #54585a;
}

.box-fort-debil {
  background-color: #b8b8b9;
}

.box2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 250px;
  line-height: 1.5;
  background-color: #b8b8b9;

}

.titulo-1 {
  font-family: "Rubik";
  color: #099d8d;
  /* width: 290px; */
  height: 45px;
  font-size: 22px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.05;
  letter-spacing: normal;
  text-align: center;
  padding-bottom: 50px;
  padding-top: 20px;
}

.subtitulo1 {
  color: #54585a;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  /* width: 290px; */
  line-height: 1.5;

}