.header{
    position: static;
}

.contact-pic{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.picture{
    width: 100%;
    height: 70vh;

}

.asterisk{
    color: #099d8d;
}

h2{
    color: #099d8d;
    font-size: 24px;
    text-align: center;
    font-family: Rubik;
    line-height: 1.88;
}

.doubt, .appointment{
    font-family: OpenSans;
    line-height: 1.5;
    font-size: 16px;
    text-align: center;
    padding:20px;
}

fieldset{
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    border: none;
    padding:50px;
    font-family: OpenSans;
}

input{
    height: 45px;
}

.submit-button{
    border-radius: 10px;
    background-color: #099d8d;
    color: white;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 16px;
    
}

.mail, .tel{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}

@media all and (min-width: 768px){
    .form-container{
        justify-content: center;
    }
    
    .submit-button{
        width: 40%;
        align-self: flex-end;
    }
}
@media all and (min-width: 1200px){
    .form-container{
        flex-direction: row;
        flex-wrap: nowrap;
        margin-left: 50px;
    }

    .pair{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
    }

    .mail, .tel{
        width: 50%;
    }

}