.header {
    position: static;
}

.contact-pic {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-bottom: 50px;
}

.picture {
    width: 100%;
    height: 70vh;

}

.title-form {
    color: #099d8d;
    font-size: 24px;
    text-align: center;
    font-family: "Rubik", sans-serif;
    line-height: 1.88;
    font-weight: 500;
}

.asterisk {
    color: #099d8d;
    font-weight: 800;
}

.doubt {
    font-family: "Open Sans", sans-serif;
    color: #54585a;
    line-height: 1.5;
    font-size: 16px;
    text-align: center;
    padding: 20px;
}

.appointment {
    font-family: "Open Sans", sans-serif;
    color: #54585a;
    line-height: 1.5;
    font-size: 13px;
    text-align: center;
    padding: 20px;
}


.box-form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: auto;
    font-size: 14px;
    border: none;
    font-family: "Open Sans", sans-serif;
    padding: 25px;
}

.box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: auto;
    font-size: 14px;
    border: none;
    font-family: "Open Sans", sans-serif;
}

#box2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: auto;
    font-size: 14px;
    border: none;
    font-family: "Open Sans", sans-serif;
}

#box3 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: auto;
    font-size: 14px;
    border: none;
    font-family: "Open Sans", sans-serif;
}

label {
    margin-top: 10px;
    margin-bottom: 10px;
}

input {
    height: 45px;
    margin-bottom: 20px;

}

.submit-button {
    border-radius: 10px;
    background-color: #099d8d;
    border: #099d8d;
    color: white;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 16px;
}

@media all and (min-width: 768px) and (max-width: 1200px) {

    .submit-button {
        width: 40%;
        align-self: flex-end;
        margin-top: 5rem;
    }

    .box-form {
        width: 50rem;
        margin-right: auto;
        margin-left: auto;
    }
}

@media all and (min-width: 1200px) {

    .submit-button {
        width: 40%;
        align-self: flex-end;
        margin-top: 5rem;
    }

    .box-form {
        width: 90rem;
        margin-right: auto;
        margin-left: auto;
    }

    .box {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    #box2 {
        display: flex;
        justify-content: space-around;
        flex-grow: 1;
        margin-inline: 15px;
        margin-left: 0;

    }

    #box3 {
        display: flex;
        justify-content: space-around;
        flex-grow: 1;
        margin-inline: 15px;
        margin-right: 0;
    }

}