* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* @import 'core/variables';*/
@import 'core/reset';
@import 'layout/header';
@import 'layout/main1';
@import 'layout/main2';
@import 'layout/footer';

:root {
    font-size: 62.5%;
    --web-color: #099d8d;
}